.marginTop{
    margin-top: 70px;
    margin-bottom: 300px;
}
.cart-button {
    position: relative; 
    padding: 5px 15px; 
    height: 50px;
  }
  .cart{
    margin-top:20px
  }
  .cart-badge {
    position: absolute; 
    top: -41px !important;
    right: -2px; 
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  