    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/brand.jpg" class="bg-secondary" height="50" width="50" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactUs" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
          </li>
        </ul>
        
        <button class="btn btn-primary cart-button ml-2" routerLink="/cart" *ngIf="cartCount > 0">
          <i class="fa fa-shopping-cart cart"></i>
          <span class="badge badge-pill badge-danger cart-badge">{{ cartCount }}</span>
        </button>
        
      </div>
    </nav>
  <div class="marginTop main-content container-fluid pt-4 mb-5">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
  